body
  padding-top 50px

.navbar-header a.navbar-brand
  color whitesmoke
  background-color #ff005f

h6
  color #ff005f

footer
  background-color grey

.navbar-form
  .form-group
    .form-control
      margin-right 5px
  button
    border-radius 0

.toast-top-right
  top 90px
