doctype html

html(lang="en")
    head
        title Layout

        link(href="/favicon/favicon.ico" rel="shortcut ico" type="image/x-icon")
        link(href="/css/bootstrap.min.css" rel="stylesheet" type="text/css")
        link(href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css")
        link(href="/vendor/toaster/toaster.min.css" rel="stylesheet" type="text/css")
        link(href="/css/site.css" rel="stylesheet" type="text/css")
        base(href="https://young-peak-7149.herokuapp.com/")

    body(ng-app='mainApp')
        block main-content

        include scripts