.containera.container-fluid
    .jumbotron
        h1 mean_demo
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus justo id diam pellentesque, vel tincidunt dui pretium. Vestibulum quis consectetur mi, quis hendrerit diam. Nam eget massa ut odio consectetur posuere faucibus nec lacus. Ut enim nisi, aliquet eget dui sed, tristique viverra nisi. Praesent imperdiet et mi at venenatis. Aliquam justo purus, tristique ac nulla at, placerat venenatis mauris. Vestibulum enim velit, varius et luctus ac, bibendum a odio. Suspendisse lobortis feugiat ligula, non ultricies nisl. Quisque accumsan mi eu felis ultrices, sed condimentum magna ultrices. Nullam id elementum metus. Aliquam non elit fringilla ligula tempor pharetra a id nunc. Praesent eu tincidunt magna. Aenean non nisl in elit porta feugiat sit amet nec leo.

        p nunc purus, imperdiet molestie gravida quis, feugiat consectetur lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras vestibulum diam at lobortis imperdiet. Suspendisse potenti. Donec ut sagittis sapien. Donec tincidunt tellus sit amet ante porta vestibulum. Nunc vitae nibh lectus. Vivamus rhoncus bibendum nisl, ornare imperdiet urna consequat vitae.

        p commodo eget lectus sit amet lobortis. Quisque in elementum metus. Duis consectetur est vulputate, porta elit in, sollicitudin ante. Curabitur sed porttitor est, in ornare lorem. Quisque at nisi ante. Duis lacinia erat est, nec auctor dolor pharetra eget. Donec tempus porttitor volutpat. Sed sed sagittis neque. Integer a gravida tellus. Morbi sed lorem felis. Nullam et lorem non ligula fermentum ultricies. Integer pellentesque, odio nec volutpat consequat, nisi augue lacinia justo, eget scelerisque est quam ut purus.

        p tempus pharetra sem, nec sollicitudin sem porta nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tristique egestas nulla, vel rutrum arcu vestibulum nec. Vivamus ex mauris, luctus non convallis ut, sagittis vitae ex. Mauris nec nibh auctor, facilisis magna et, posuere lacus. Donec id vulputate velit. Mauris ornare sit amet massa a convallis. Quisque lobortis a eros id mollis. Nam ornare feugiat eros et suscipit. Aliquam rutrum vehicula lorem eget ornare. Quisque pulvinar, lectus rhoncus aliquam vestibulum, diam nisl vehicula turpis, ut dapibus libero nisi in massa. Morbi consectetur justo nec pulvinar vehicula. Sed interdum nec leo quis porttitor.

        p quis ultrices ligula, et elementum lectus. Donec interdum eleifend fringilla. Quisque velit dolor, tempus vitae sem eu, sollicitudin lobortis mi. Etiam sed tellus tincidunt, commodo velit sit amet, tristique metus. Fusce rhoncus lacus nec nisi rutrum placerat. Aliquam nec pellentesque urna. Etiam congue felis quis sapien convallis auctor. Curabitur enim urna, dapibus id est egestas, sollicitudin sagittis neque. Mauris velit dui, laoreet quis ullamcorper eget, accumsan quis diam

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured'")
        .col-md-6
            div(ng-include="'/partials/main/new'")